.metadata {
    text-align: right;
    dd, dt {
        display: inline;
        margin: 0;
        float: right;
        clear: both;
    }
    dt {
        display: none;
    }
    dd.author {
        &::before {
            content: " ";
            display: block;
        }
    }
    time {
        color: $nearly_black;
    }
}

.blog-posts {
    list-style: none;
    padding: 0 !important;
    time {
        font-size: 0.6em;
        font-weight: 500;
        color: $nearly_black;
    }    
    .author {
        font-size: 0.7em;
        font-weight: 700;
        float: right;
        color: $nearly_black;
    }
    p {
        font-size: 0.7em;
        color: $nearly_black;
        text-align: left;
    }
    li {
        margin: 2.5em auto;
    }
}

.blog_page {
    background-color: $half-white;
    margin-top: 65px;
    padding: 30px 40px; 
}

.flex-container_blog_title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

 .blog_body_img {
    margin: 60px auto 80px auto;
}

.blog_post_title {
    font-size: calc(10px + 0.75vw);
    text-align: center;
    h1 {
        font-size: calc(28px + 1vw);
        font-weight: 700;
        letter-spacing: 0.25em;
        margin: 100px auto 0.67em auto;
        text-align: center;
    }    
    time {
        vertical-align: middle;
        font-weight: 500;
        color: $nearly_black;
        text-transform: uppercase;
        letter-spacing: 0.75em;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }    
    .author {
        vertical-align: middle;
        font-weight: 700;
        color: $nearly_black;
        text-transform: uppercase;
        letter-spacing: 0.75em;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .fa {
        font-size: calc(8px + 0.75vw);
        vertical-align: middle;
        color: #666;
        margin-left: 30px;
        margin-right: 38px;   
        padding: 4px;
    }
}

.blog_post_body {
    p {
        font-size: calc(14px + 0.75vw);
        line-height: 1.75em;
        margin-top: 40px;
        margin-bottom: 40px;
    }    

}

.blog_image_credit {
    text-align: center;
    margin-top: -70px; // image has bottom margin of 80px
    span {
        font-size: 0.75em;
    }
}