@import "local-styles/CUSTOMISER";

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

hr {
    clear: both;
}

body {
    background: $base_bg;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.42857143;
    margin: 0;
    background-color: $outer_bg;
    color: $base_text;
    @media screen and (max-width: 760px){
        margin-bottom: 0px;
    }
}

.center {
    text-align: center !important;
}

:target:before {
  content: '';
  display: block;
  position: relative;
  width: 0; height: 94px;
  margin-top: -94px
}

.container, .container-midwidth, container-fullwidth {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}


@media only screen and (max-width: 980px) {
    .container {
        width: 92%;
    }
}

@media only screen and (min-width: 981px) {
    .container {
        width: 80%;
    }
}

.container-midwidth {
    width: 90%;
}

.container-fullwidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.container_section {
    padding-top: 30px;
    padding-bottom: 80px;
    h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }
}

.container_thing {
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-family: Couture, sans-serif !important;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 24px auto 18px auto;
    color: $nearly_black;
}
h2 {
    font-family: Couture, sans-serif !important;
    font-size: 2.2em;
    font-weight: 900;
    text-transform: uppercase;
}
h3 {
    font-family: Couture, sans-serif !important;
    font-size: 2.0em;
    font-weight: 700;
    text-transform: none;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1em;
}

strong {
    color: $bright_greek;
    font-family: Couture, sans-serif !important;
    font-weight: 900 !important;
}

a, a:visited {
    color: $link_color;
    font-family: Couture, sans-serif;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin:0;
    padding:0;
    text-decoration:none;
    vertical-align:baseline;
}
a:hover {
    color: $link_hover_color;
    text-decoration: none;
}

p, ul, ol {
    text-align: justify;
    @media screen and (max-width: 760px){
        text-align: left;
    }
    margin: 30px auto;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.5em;
    @media screen and (max-width: 760px){
        width: auto;
    }
}
.top {
        margin-top: 0 !important;
    }
.right {
    text-align: right !important;
}

li {
    padding-left: 5px;
    p {
        font-size: 1em;
    }
}

hr {
    margin: 20px auto;
    max-width: 600px;
    height: 1px;
    border: 0;
}

.fa, .fas {
    color: $base_text;
}

// BLOCKS

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#cover_overlay {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $headline_bg_color;
    z-index: 5;
    cursor: pointer;
    h1 {
        margin: 0;
        padding: 3vw 1vw;
        color: $headline_color;
        font-family: Couture, sans-serif;
        text-transform: uppercase;
        font-size: 18vw;
        font-weight: 900;
        line-height: 0.9em;
        letter-spacing: -0.03em;
    }
}

#index_cover {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 0;
    padding: 0;
}


#index_tagline {
    background: $tagline_bg_color;
    h1 {
        margin: 0;
        color: $tagline_color;
        text-align: center;
        font-family: Couture, sans-serif;
        font-size: 7vw;
        font-weight: 700;
        letter-spacing: 0.015em;
        line-height: 1.33em;
    }
}


.tagline {
    padding: 4em 0.25em;
    background: $tagline_bg_color;
    h1 {
        margin: 0;
        color: $tagline_color;
        text-align: center;
        font-family: 'Rock Salt', cursive !important;
        font-size: 4.3vw;
        font-weight: 900;
        letter-spacing: 0.2em;
        line-height: 1.5em;
    }
}

.quotation {
    background-color: $index_quotation_bg_color;
    font-family: Couture, sans-serif !important;
    p {
        width: 100%;
        margin: 0;
        line-height: 0.8em;
        .fa {
            font-size: 4vmin;
        }
    }
    p.left {
        text-align: left;
        width: 100%;
    }
    p.right {
        text-align: right;
        width: 100%;
        margin-top: 10px;
    }
    blockquote {
        padding: 0 10%;
        margin: 0;
        font-style: italic;
    }
    .words {
        text-align: center;
        font-size: 3vmin;
        font-weight: 500;
        margin: 0 60px 0 80px !important;
        @media screen and (max-width: 760px){
            margin: 0 20px 0 30px !important;
        }
        > .left {
            text-align: left !important;
        }
        > .right {
            text-align: right !important;
        }
    }
}

.about {
    background: $index_about_bg_color;
}


.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#index_interviews {
    h1 {
        color: $index_interviews_title_color;
    }
}

.scribbles {
    background: $index_scribbles_outer_bg_color;
    h1 {
        color: $index_scribbles_title_color;
    }
    padding-bottom: 0px; // this is taken care of by the margin on li objects 
}

.events {
    h1 {
        color: $index_events_title_color;
    }
}

.overlay_holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 22vh;
  overflow: hidden;
}

.section_overlay.light, .section_overlay.mid, .section_overlay.heavy {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
}

.light {
    background-color: rgba(255,255,255,0.3);
}

.mid {
    background-color: rgba(255,255,255,0.4);
}

.heavy {
    background-color: rgba(255,255,255,0.5);
}

.team {
    background: $index_team_bg_color;
}

.member-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 4rem;
}

.member-card {
    box-shadow: 0px 1px 5px $nearly_black;
    background: $team_cards_color;
    font-family: Couture, sans-serif;
    text-transform: uppercase;
    text-align: center;
    p {
        text-align: center;
        margin: 0 0.1em;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .name, .role, .social {
        position: relative; 
        padding: 0 0.25em;
    }
    .name {
        height: 5vmax;
        p {
            font-size: 0.75em;
            font-weight: 900;
        }
    }
    .role {
        height: 3vmax;
        font-size: 0.65em;
        font-weight: 600;
    }
    .social {
        height: 3vmax;
        font-size: 0.9em;
        .fas, .fab {
            &:hover {
                color: $icon_hover_color;
                text-decoration: none;
            }
        }
    }
    a, a:visited {
        color: $base_text;
    }
}

#index_press-sponsors {
    h1 {
        color: $index_press-sponsors_title_color;
    }
    p {
        text-align: left;
    }
}

.contact {
    background: $index_contact_bg_color;
    .flex-container {
        text-align: center;
    }
}

.interview_list {
    h1 {
        color: $link_color;
    }
}

.interview_list_container {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.interview_list_result_container {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    span {
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .name {
        font-size: 1.3em;
        font-weight: 700;
        margin-top: 10px;
        line-height: 1.8em;
        text-align: left;
    }
    .quotation {
        text-transform: none;
        font-style: italic;
        font-size: 1.1em;
        font-weight: 500;
        text-align: left;
        margin-bottom: 10px;
    }
    .fa {
        font-size: 0.7em;
        vertical-align: top;
    }
}

.section_head {
    background: $white;
}

.main_photo > img {

}

#generic-header-card {
    display: block;
    position: relative;
    margin-top: 95px;
    height: auto;
    background: rgba(255,255,255,1.0);
    color: $base_text;
    h1, h2 {
        color: $header_card_text;
        font-size: calc(10px + 14vmin);
        letter-spacing: -0.07em;
        line-height: 0.9em;
        font-family: Couture, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        max-width: 80%;
        margin: 0px auto;
        padding-top: calc(40px + 2vmax);
        padding-bottom: calc(40px + 2vmax);
    }
    h2 {
        font-size: 2em;
        letter-spacing: 0.15em;
        text-align: right;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#tags {
    font-size: 0.65em;
    line-height: 1.8em;
    text-align: left;
    p {
        text-align: center;
        line-height: 2.2em;
    }
    a, a:visited {
        color: $tag_color;
        background: $tag_bg_color;
        text-transform: uppercase;
        font-weight: 900;
        text-align: left;
        letter-spacing: 0.15em;
        padding: 3px;
        margin-right: 20px;
    }
    a:hover {
        color: $tag_hover_color;
        background: $tag_bg_hover_color;
        text-decoration: none;
    }
}

.footer {
    display: block;
    width: 100%;
    padding: 20px 15% 0 15% !important;
    background: $footer_bg_color;
    color: $footer_text_color;
    text-align: center;
    @media screen and (max-width: 760px){
        position: relative;
    }
    .right {
        padding-left: 30px;
        box-sizing: border-box;
        @media screen and (max-width: 960px){
            padding-right: 20px;
        }
        @media screen and (max-width: 760px){
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
            input {
                margin-bottom: 0 !important;
            }
        }
        input {
            display: inline-block;
            padding: 5px 16px;
            length: 150px;
            font-size: 18px;
            line-height: 1.5;
            border: 1px solid transparent;
            vertical-align: middle;
            box-sizing: border-box;
            margin-bottom: 15px;
            @media screen and (max-width: 430px) {
                margin-bottom: 15px !important;
            }
        }
        form {
            margin-left: 0;
            text-align: center;
            input {
                width: 100%;
            }
        }
    }
    .body {
        width: 75%;
        &::after {
            content: " ";
            clear: both;
            display: block;
        }
    }
}

.cta {
    h3 {
        margin: 0.7em auto 0.6em auto;
    }    
    p {
        font-size: 0.9em;
    }    
}

.cta-button {
    margin: 1em auto;
}

.cta-donate {
    background-color: $cta_mailinglist_bg_color;
    color: $cta_mailinglist_text_color;
}

.cta-participate {
    
}

.cta_mailinglist {
    padding: 50px 0 80px 0 !important;
    background-color: $cta_mailinglist_bg_color;
    color: $cta_mailinglist_text_color;
}

#index_content {
    background-color: $white;
    font-size: 0.8em;
    padding-top: 50px;
    padding-bottom: 30px;
}

.copyright_extended {
    background-color: $index_copyright_bg_color;
    color: $index_copyright_text_color;
}

.copyright {
    clear: both;
    padding: 15px 0;
    color: $text_dark_bg;
    background-color: rgba(0, 0, 0, 1.0);
    text-align: center;
    font-size: 0.8em;
}

.btn {
    font-family: Couture, sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    padding: 5px 20px !important;
    .fas, .fab {
        color: $btn_text;
        margin-left: 10px;
    }
}

.light_icons {
    .fa, .fas, .fab {
        color: $icon_color_light;
    }
}

.dark {
    background-color: $peace_grey;
    color: $nearly_black;
}

.social_blobs {
    margin-top: 80px;
    margin-bottom: 0;
    a .fas, a .fab {
        display: inline-block;
        font-size: 6em;
    }
    .fas, .fab {
        &:hover {
            color: $icon_hover_color;
        }
    }
    a, a:visited {
        color: $icon_color;
    }
}

.section_subtitle, .section_subtitle_centered {
    span {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.3em;
    }
}

.section_subtitle {
    text-align: left;
    margin-top: -2em; // HAXXXX margin-bottom of h1 above is 1.5em, then there are divs
    margin-bottom: 0em !important; // HAXXXX making up for losing space above
}
    
.section_subtitle_centered {
    text-align: center;
}

.subtitle_info {
    font-size: 0.75em;
    text-align: right;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container_centered {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-bewteen;
}

.author_credit {
    margin-top: -2em;
    padding: 0 4em 5em 4em;
    font-family: Helvetica;
    font-size: 0.7em;
    font-style: italic;
    text-align: justify;
    font-weight: 300;
}


// LAYOUT THINGS

.alert-bar {
    z-index: 100;
    background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSxQE2Y-0vxVD9wCc954cZSqG5czx6-7-qoHqkXaq8BpMyDhTZ_3g);
    color: #fff;
    font-size: 22px;
  text-align: center;
  line-height: 34px;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  a {
    color: #fff; 
  }
  p {
    padding: 0;
    margin: 0;
  }
  .left {
    display: inline-block;
    float: left;
  }
  .message {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 8px;
  }
  .center {
    float: right;
    margin-bottom: 43px;
  }
  .right {
    display: none;
  }
}

.alertbar-button {
    margin: 0.75em auto;
    font-size: 1em;
    color: #fff;
    background-color: #ef1cdf;
    line-height: 1.25em;
    &:hover {
        background-color: #fa53e8;
    }
}

.button_explanation {
    font-size: 0.55em;
    font-weight: 600;
    letter-spacing: 0.075em;
    vertical-align: middle;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .stick-here {
    padding-top: 110px;
}

.glitter {
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSxQE2Y-0vxVD9wCc954cZSqG5czx6-7-qoHqkXaq8BpMyDhTZ_3g);
}










#mad_blog {
    box-sizing: border-box;
    .blog-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 7px -1px rgba(#000, .1);
        border-radius: 5px;
        overflow: hidden;
        z-index: 0;
        margin: 1rem auto;
        margin-bottom: 10%;
        background: $white;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        line-height: 1.4rem;
        .meta {
            position: relative;
            z-index: 0;
            height: 200px;
        }
        .photo {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            &:hover {
                .photo {
                  transform: scale(1.3) rotate(3deg);
                }
              }
        }
        .description {
            padding: 1rem;
            background: $white;
            position: relative;
            z-index: 1;
            h1 {
                line-height: 1.1;
                letter-spacing: 0.1rem;
                margin: 0.5rem;
                font-size: 1.6rem;
                color: #3c3c3c;
            }
            h2 {
                text-align: right;
                font-size: 0.9rem;
                font-weight: 300;
                letter-spacing: 0.15rem;
                line-height: 1.2rem;
                text-transform: uppercase;
                color: $peace_grey;
                span {
                    color: $bay_wharf_grey;
                    font-weight: 500;
                }
                &:last-of-type {
                    &:after {
                        width: 61.8%;
                        content:' ';
                        display:block;
                        height: 3px;
                        background: $bay_wharf_grey;
                        border-radius: 3px;                        
                    }
                }
            }
            .read-more {
                padding-top: 0;
                font-size: 0.75rem;
                text-align: right;
                text-transform: uppercase;
            }
        }
        p {
            position: relative;
            margin: 1rem 0 0;
            font-size: 1rem;
            color: #555;
            &:first-of-type {
                margin-top: 1rem;
                &:before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    background: $turquoise;
                    width: 35px;
                    top: -0.75rem;
                    border-radius: 3px;
                }
            }
        }

      @media (min-width: 640px) {
        flex-direction: row;
        
        .meta {
          flex-basis: 40%;
          height: auto;
        }
        .description {
          flex-basis: 60%;
          &:before {
            transform: skewX(-3deg);
            content: "";
            background: #fff;
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        &.alt {
          flex-direction: row-reverse;
          .description {
            &:before {
              left: inherit;
              right: -10px;
              transform: skew(3deg)
            }
          }
        }
      }
    }
}