@import "local-styles/CUSTOMISER";

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

hr {
    clear: both;
}

body {
    background: $base_bg;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.42857143;
    margin: 0;
    background-color: $outer_bg;
    color: $base_text;
    @media screen and (max-width: 760px){
        margin-bottom: 0px;
    }
}

.center {
    text-align: center !important;
}
a.anchor {
    display: block;
    position: relative;
    top: -95px;
}

.container, .container-midwidth, container-fullwidth {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

.container {
    width: 80%;
}

.container-midwidth {
    width: 90%;
}

.container-fullwidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.container_section {
    padding-top: 30px;
    padding-bottom: 80px;
    h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }
}

.container_thing {
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-family: Couture, sans-serif !important;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 24px auto 18px auto;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
}

a, a:visited {
    color: $link_color;
    font-weight: 900;
    margin:0;
    padding:0;
    text-decoration:none;
    vertical-align:baseline;
}
a:hover {
    color: $link_hover_color;
    text-decoration: none;
}

p, ul, ol {
    text-align: justify;
    margin: 30px auto;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.5em;        
    @media screen and (max-width: 760px){
        width: auto;
    }
    .indent {

    }
}
.top {
        margin-top: 0 !important;
    }
.right {
    text-align: right !important;
}       

li {
    padding-left: 5px;
    p {
        font-size: 1em; 
    }
}

hr {
    margin: 20px auto;
    max-width: 600px;
    height: 1px;
    border: 0;
}

.fa, .fas {
    color: $base_text;
}

// BLOCKS

.video-holder {
  position: relative; 
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $headline_bg_color;
    z-index: 5;
    cursor: pointer;
    h1 {
        margin: 0;
        padding: 3vw 1vw;
        color: $headline_color;
        font-family: Couture, sans-serif;
        text-transform: uppercase;
        font-size: 18vw;
        font-weight: 900;
        line-height: 0.9em;
        letter-spacing: -0.03em;  
    }
}

#index_cover {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 95px; 
    padding: 0;
}   


#index_tagline {
    background: $tagline_bg_color;
    h1 {
        margin: 0;
        color: $tagline_color;
        text-align: center;
        font-family: Couture, sans-serif;
        font-size: 7vw;
        font-weight: 700;
        letter-spacing: 0.01em;
        line-height: 1.33em;
    }    
}

#index_quotation {
    background: $index_quotation_bg_color;     
    p {
        width: 100%;
        margin: 0;
        line-height: 0.8em;
    .fa {
        font-size: 8vmin;
    }
    }
    p.left {
        text-align: left;
        width: 100%;
    }
    p.right {
        text-align: right;
        width: 100%;
        margin-top: 10px;
    }
    blockquote {
        padding: 0;
        margin: 0;
        font-style: italic;
    }
    .words {
        text-align: center;
        font-size: 4vmin;
        font-weight: 500;
        margin: 0 60px 0 80px !important;
        > .left {
            text-align: left !important;
        }
        > .right {
            text-align: right !important;
        }        
    }   
}

#index_about {
    background: $index_about_bg_color;    
    p {
        font-size: 3vw;
    }    
}

#index_interviews {
    background: $index_interviews_bg_color;
    h1 {
        color: $index_interviews_title_color;
    }
}

#index_scribbles {
    background: $index_scribbles_bg_color;
    h1 {
        color: $index_scribbles_title_color;
    }
}

#index_events {
    background: $index_events_bg_color;
    h1 {
        color: $index_events_title_color;
    }
}

#index_team {
    background: $index_team_bg_color;    
}

.member {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 20px 0;
    border: 20px solid $index_team_bg_color;
    background: $team_cards_color;
    img {
        padding: 0;
        margin: 0;
        /*-webkit-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;
        &:hover {
          opacity: 0;
          filter: alpha(opacity=0);
        }*/
    }
    .member_lhs, .member_rhs {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
    .member_rhs {
        padding: 10px 0 5px 10px;
        vertical-align: middle;
    }
    .name {
       font-size: 1.8em;
    }
    .role {
       font-size: 1.2em;
       margin-bottom: 20px;
    }
    a {
        display: inline-block;
    }    
    .fas, .fab {
        font-size: 1.2em;
        padding: 0;
        margin: 0 5px;
        &:hover {
            color: $icon_hover_color;
            text-decoration: none;
        }
    }  
    a, a:visited {
        color: $base_text;
    }
}

#index_press-sponsors {
    background: $index_press-sponsors_bg_color;    
    h1 {
        color: $index_press-sponsors_title_color;
    }    
}

#index_contact {
    background: $index_contact_bg_color;  
    a .fas, a .fab {
        display: inline-block;
        font-size: 6em;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .fas, .fab {
        &:hover {
            color: $icon_hover_color;
        }
    }  
    a, a:visited {
        color: $icon_color;
    }
}



.interview_list {
    h1 {
        color: $link_color;
    }
}

.interview_list_container {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.interview_list_result_container {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    span {
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
    }    
    .name {
        font-size: 1.3em;
        font-weight: 700;
        margin-top: 10px;
        line-height: 1.8em; 
        text-align: left;
    }
    .quotation {
        text-transform: none;
        font-style: italic;
        font-size: 1.1em;
        font-weight: 500;
        text-align: left;
        margin-bottom: 10px;
    }             
    .fa {
        font-size: 0.7em;
        vertical-align: top;
    }
}

.section_head {
    background: $white;   
}

.main_photo > img {

}

#generic-header-card {
    display: block;
    position: relative;
    margin-top: 95px;
    height: auto;
    background: rgba(255,255,255,1.0);
    color: $base_text;
    h1, h2 {
        color: $header_card_text;
        font-size: calc(10px + 14vmin);
        letter-spacing: -0.07em;
        line-height: 0.9em;
        font-family: Couture, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        max-width: 80%;
        margin: 0px auto;   
        padding-top: calc(40px + 2vmax);
        padding-bottom: calc(40px + 2vmax);
    }
    h2 { 
        font-size: 2em;
        letter-spacing: 0.15em;
        text-align: right;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#tags {
    font-size: 0.65em;
    line-height: 1.8em; 
    text-align: left;
    p {
        text-align: center;
        line-height: 2.2em;         
    }
    a, a:visited {
        color: $tag_color;
        background: $tag_bg_color;
        text-transform: uppercase;
        font-weight: 900;
        text-align: left;
        letter-spacing: 0.15em;   
        padding: 3px;
        margin-right: 20px;
    }          
    a:hover {
        color: $tag_hover_color;
        background: $tag_bg_hover_color;
        text-decoration: none;
    }  
}     

.footer {
    display: block;
    width: 100%;
    padding: 20px 15% 0 15% !important;
    background: $footer_bg_color;
    color: $footer_text_color;
    text-align: center;
    h1, h2, h3 {
        text-transform: uppercase;
    }

    @media screen and (max-width: 760px){
        position: relative;
    }

    
    .right {
        padding-left: 30px;
        box-sizing: border-box;
        @media screen and (max-width: 960px){
            padding-right: 20px;
        }
        @media screen and (max-width: 760px){
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
            input {
                margin-bottom: 0 !important;
            }
        }
        input {
            display: inline-block;
            padding: 5px 16px;
            width: 100px;
            font-size: 18px;
            line-height: 1.5;
            border: 1px solid transparent;
            vertical-align: middle;
            box-sizing: border-box;
            margin-bottom: 15px;
            @media screen and (max-width: 430px) {
                margin-bottom: 15px !important;
            }
        }
        form {
            margin-left: 0;
            text-align: center;
            input {
                width: 100%;
            }
        }
    }
    .body {
        width: 75%;
        &::after {
            content: " ";
            clear: both;
            display: block;
        }
    }
    .copyright {
        clear: both;
        border-top: solid 1px #000;
        padding: 15px 0;
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: 300;
        color: #999999;
        font-size: 13px;
        text-align: center;
    }
}

.btn {
    .fas, .fab {
        color: $btn_text;
        margin-left: 10px;
    }
}