@import "local-styles/CUSTOMISER";

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

hr {
    clear: both;
}

body {
    background: $base_bg;
    margin: 0;
    background-color: $outer_bg;
    color: $base_text;
    @media screen and (max-width: 760px){
        margin-bottom: 0px;
    }
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}

p, ul, ol {
    margin: 30px auto;
    @media screen and (max-width: 760px){
        width: auto;
    }
}

:target:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 5rem;
  margin-top: -5rem;
}

.container, .container-midwidth, container-fullwidth {
    display: block;
    margin: 0 auto;
}

.container, .container-midwidth, container-fullwidth, .container_section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container {
    @media only screen and (max-width: 980px) {
        .container {
            width: 92%;
        }
    }
    @media only screen and (min-width: 981px) {
        .container {
            width: 80%;
        }
    }
}

.container_lightbox {
    padding:20px 40px;
    background-color:rgba(255,255,255,0.6);
}

.container-midwidth {
    width: 90%;
}

.container-fullwidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.container_thing {
    padding: 0;
}

.no_padding {
    padding: 0 !important;
}

.top {
    margin-top: 0 !important;
}

.right {
    text-align: right !important;
}

li {
    padding-left: 5px;
}

hr {
    margin: 20px auto;
    max-width: 600px;
    height: 1px;
    border: 0;
}

.fa, .fas {
    color: $base_text;
}

// BLOCKS

#logo_home {
    img {
        margin: 0.5rem;
    }
}

.video-holder, .audio-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.alertbar-button {
    margin: 0.75em auto;
    font-size: 1em;
    color: #fff;
    background-color: #ef1cdf;
    line-height: 1.25em;
    &:hover {
        background-color: #fa53e8;
    }
}

#index_cover {
    display: block;
    margin: 4.2rem 0 0 0; // TODO HAXXXX top bar sticky
}

.cover {
    width: 100%;
    background-color: $white;
    padding: 0 0 4rem 0;  
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.about {
    background-image: url('/assets/images/backgrounds/about_letterbox_1700.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 1250px){
        background-image: url('/assets/images/backgrounds/about_letterbox_1250.jpg');
    }
    @media screen and (max-width: 800px){
        background-image: url('/assets/images/backgrounds/about_letterbox_800.jpg');
    }
    @media screen and (max-width: 600px){
        background: $index_about_bg_color;
    }
    .social {
        a .fas, a .fab {
            font-size: 1.5em;
        }
    }
}


.quotation {
    background-color: $index_quotation_bg_color;
    padding: 2em 0;
    p {
        width: 100%;
        margin: 0;
        .fa {
            font-size: 3vmin;
        }
    }
    p.left {
        text-align: left;
        width: 100%;
    }
    p.right {
        text-align: right;
        width: 100%;
        margin-top: 0.5em;
    }
    blockquote {
        padding: 0;
        margin: 0 20%;
        font-style: italic;
    }
    .words {
        padding: 0 10%;
        @media screen and (max-width: 760px){
            margin: 0 20px 0 30px !important;
        }
        > .left {
            text-align: left !important;
        }
        > .right {
            text-align: right !important;
        }
    }
}

.stories {
    h1 {
        color: $index_stories_title_color;
    }
    background-image: url('/assets/images/backgrounds/stories_letterbox_1700.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 1250px){
        background-image: url('/assets/images/backgrounds/stories_letterbox_1250.jpg');
    }
}

#index_stories {
    h1 {
        color: $index_stories_title_color;
        @media screen and (max-width: 600px){
            background: $index_stories_bg_color;
        }
    }
}

.scribbles {
    padding-top: 0px;
    background: $index_scribbles_outer_bg_color;
    h1 {
        color: $index_scribbles_title_color;
    } 
}

.events {
    h1 {
        color: $index_events_title_color;
    }
}

.overlay_holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 22vh;
  overflow: hidden;
}

.section_overlay.light, .section_overlay.mid, .section_overlay.heavy {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
}

.light {
    background-color: rgba(255,255,255,0.3);
}

.mid {
    background-color: rgba(255,255,255,0.4);
}

.heavy {
    background-color: rgba(255,255,255,0.5);
}

.team {
    padding-top: 0px;
    background: $index_team_bg_color;
}

.member-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 4rem;
}

.member-card {
    box-shadow: 0px 1px 5px $nearly_black;
    background: $team_cards_color;
    .name {
        margin-top: 0.6rem;
    }
    .role {
        margin-bottom: 0.6rem;
    }
    .name, .role, .social {
        position: relative; 
        padding: 0 0.25em;
    }
    .social {
        .fas, .fab {
            margin: 0.6rem 0;
            &:hover {
                color: $icon_hover_color;
                text-decoration: none;
            }
        }
    }
    a, a:visited {
        color: $base_text;
    }
}

.press_sponsors {
    h1 {
        color: $index_press-sponsors_title_color;
    }
}

#social {
    padding: 2em 0;    
    background-color: $index_contact_bg_color;
    .fas, .fab {
        color: $icon_color_light;
        &:hover {
            color: $icon_hover_color;
        }
    }
    a, a:visited {
        color: $icon_color_light;
    }
    a .fas, a .fab {
        display: inline-block;
        vertical-align: center;
    }
}


.story {
    background-color: $white;
}

.story-object {
    margin: 0;   
    padding-top: calc(24px + 2vw); 
    padding-bottom: calc(24px + 2vw);
}

.story-object.story-mainphoto, .story-object.story_matrix_photo {
    width: 100%; 
    height: auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: middle;
}

.story-object.story-quotation { 
    text-transform: none;
    font-style: italic;
    font-weight: 500;
    font-size: calc(14px + 0.8vw); 
    line-height: calc(24px + 0.8vw);
    .fa {
        font-size: 0.7em;
        vertical-align: top;
    }
}


.social_inline {
    background-color: rgba(255,255,255,0.0);
     .fas, .fab {
        color: $icon_color;
        &:hover {
            color: $icon_hover_color;
        }
    }
    a, a:visited {
        color: $icon_color;
    }
    a .fas, a .fab {
        display: inline-block;
        vertical-align: center;
    }
}

.interview_list {
    h1 {
        color: $link_color;
    }
}

.story-object.story-audio {
    width: 100%;
    padding: 0;
    background-color: $city_lights_grey;
}

.story-object.story-taglist {  
    padding-left: 3em; 
    padding-right: 3em; 
    font-size: calc(8px + 0.5vw); 
    line-height: 2em;
    .tag {
        padding: 2px;
    }
}

.story-object.story-video {
    width: 100%;
    padding: 0;
}

.story {
    text-transform: uppercase;
    padding: 0 !important;
    .bottom_section {
        padding: 1vh 3vw;
        background-color: $white;
    }
    
    span {
        display: block;
    }

    .quotation {
         
    }


 
}

.margin-top-40 {
    margin-top: 40px !important;
}

.interview_list {
    h1 {
        color: $link_color;
    }
}

.flex-container_blog_title { // HAXXXX does this really need its own class...it can't possibly do...right? Right???
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.story_list_container {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.story_list_result_container {

}



.section_head {
    background: $white;
}

#generic-header-card {
    display: block;
    position: relative;
    margin-top: 95px;
    height: auto;
    background: rgba(255,255,255,1.0);
    color: $base_text;
    h1, h2 {
        color: $header_card_text;
        font-size: calc(10px + 14vmin);
        letter-spacing: -0.07em;
        line-height: 0.9em;
        font-family: 'COUTUREBold', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        max-width: 80%;
        margin: 0px auto;
        padding-top: calc(40px + 2vmax);
        padding-bottom: calc(40px + 2vmax);
    }
    h2 {
        font-size: 2em;
        letter-spacing: 0.15em;
        text-align: right;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer {
    display: block;
    width: 100%;
    padding: 20px 15% 0 15% !important;
    background: $footer_bg_color;
    color: $footer_text_color;
    text-align: center;
    @media screen and (max-width: 760px){
        position: relative;
    }
    .right {
        padding-left: 30px;
        box-sizing: border-box;
        @media screen and (max-width: 960px){
            padding-right: 20px;
        }
        @media screen and (max-width: 760px){
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
            input {
                margin-bottom: 0 !important;
            }
        }
        input {
            display: inline-block;
            padding: 5px 16px;
            length: 150px;
            font-size: 18px;
            line-height: 1.5;
            border: 1px solid transparent;
            vertical-align: middle;
            box-sizing: border-box;
            margin-bottom: 15px;
            @media screen and (max-width: 430px) {
                margin-bottom: 15px !important;
            }
        }
        form {
            margin-left: 0;
            text-align: center;
            input {
                width: 100%;
            }
        }
    }
    .body {
        width: 75%;
        &::after {
            content: " ";
            clear: both;
            display: block;
        }
    }
}

.cta {
    h3 {
        margin: 0.7em auto 0.6em auto;
    }    
    p {
        font-size: 0.9em;
    }    
}

.cta-button {
    margin: 1em auto;
}

.cta-donate {
    background-color: $cta_mailinglist_bg_color;
    color: $cta_mailinglist_text_color;
}

.cta-participate {
    
}

.cta_mailinglist {
    padding: 50px 0 80px 0 !important;
    background-color: $cta_mailinglist_bg_color;
    color: $cta_mailinglist_text_color;
}

#index_content {
    background-color: $white;
    font-size: 0.8em;
    padding-top: 50px;
    padding-bottom: 30px;
}

.copyright_extended {
    background-color: $index_copyright_bg_color;
    color: $index_copyright_text_color;
}

.copyright {
    clear: both;
    padding: 15px 0;
    color: $text_dark_bg;
    background-color: rgba(0, 0, 0, 1.0);
    text-align: center;
    font-size: 0.8em;
}

.btn {
    padding: 5px 20px !important;
    .fas, .fab {
        color: $btn_text;
        margin-left: 10px;
    }
}

.light_icons {
    .fa, .fas, .fab {
        color: $icon_color_light;
    }
}

.dark {
    background-color: $peace_grey;
    color: $nearly_black;
}

.social_inline {
    margin-top: 3rem;
    margin-bottom: 2rem;
    a {
        display: inline-block;
    }
    .fas, .fab {
        color: $icon_color;
        &:hover {
            color: $icon_hover_color;
        }
    }
    a, a:visited {
        color: $icon_color;
    }
}

.section_subtitle {
    margin-top: -2em; // HAXXXX margin-bottom of h1 above is 1.5em, then there are divs
    margin-bottom: 0em !important; // HAXXXX making up for losing space above
}
    
.section_subtitle_centered {
    text-align: center;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container_centered {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-bewteen;
}

.author_credit {
    margin-top: -2em;
    padding: 0 4em 5em 4em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.glitter {
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSxQE2Y-0vxVD9wCc954cZSqG5czx6-7-qoHqkXaq8BpMyDhTZ_3g);
}









#mad_blog {
    box-sizing: border-box;
    .event_detail {
        margin: 1em auto;
        text-align: center;
        text-transform: uppercase;
        a {
            text-transform: lowercase;
            margin: 1em auto;
        }
        color: $bay_wharf_grey;
        font-size: 0.75em;
        font-weight: 300;
        span {
            font-weight: 500;
        }
        .fa, .fas, .fab {
            margin: 0.5em;
            font-size: 2.75em;
            vertical-align: middle;
            color: $base_text;
        }
    }
    .event_desc {
        font-size: 0.8em !important;
        text-align: center;
    }
    .event_buttons {
        margin: 2em 0;
        a {
            font-size: 1em;
        }
        .fa {
            vertical-align: middle;            
            color: $antiflash_white;
            font-size: 1.2em;
        }
    }
    .blog-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 7px -1px rgba(#000, .1);
        border-radius: 5px;
        overflow: hidden;
        z-index: 0;
        margin: 1rem auto;
        margin-bottom: 10%;
        background: $white;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        line-height: 1.4rem;
        .meta {
            position: relative;
            z-index: 0;
            height: 200px;
        }
        .photo {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            &:hover {
                .photo {
                  transform: scale(1.3) rotate(3deg);
                }
              }
        }
        .description {
            padding: 1rem;
            background: $white;
            position: relative;
            z-index: 1;
            h1 {
                line-height: 1.1;
                letter-spacing: 0.1rem;
                margin: 0.5rem;
                font-size: 1.6rem;
                color: #3c3c3c;
            }
            h2 {
                text-align: right;
                font-size: 0.9rem;
                font-weight: 300;
                letter-spacing: 0.15rem;
                line-height: 1.2rem;
                text-transform: uppercase;
                color: $peace_grey;
                span {
                    color: $bay_wharf_grey;
                    font-weight: 500;
                }
                &:last-of-type {
                    &:after {
                        width: 61.8%;
                        content:' ';
                        display:block;
                        height: 3px;
                        background: $bay_wharf_grey;
                        border-radius: 3px;                        
                    }
                }
            }
            .read-more {
                padding-top: 0;
                font-size: 0.75rem;
                text-align: right;
                text-transform: uppercase;
            }
        }
        p {
            position: relative;
            margin: 1rem 0 0;
            font-size: 1rem;
            &:first-of-type {
                margin-top: 1rem;
                &:before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    background: $turquoise;
                    width: 35px;
                    top: -0.75rem;
                    border-radius: 3px;
                }
            }
        }
       p.event_details {
            &:first-of-type {
                &:before {
    background-color: #ef1cdf;
                }
            }
        }        

      @media (min-width: 640px) {
        flex-direction: row;
        
        .meta {
          flex-basis: 40%;
          height: auto;
        }
        .description {
          flex-basis: 60%;
          &:before {
            transform: skewX(-3deg);
            content: "";
            background: #fff;
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        &.alt {
          flex-direction: row-reverse;
          .description {
            &:before {
              left: inherit;
              right: -10px;
              transform: skew(3deg)
            }
          }
        }
      }
    }
}







.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.card {
    display: grid;
}
.card .button {
    align-self: end;
}







/* Simple Card styles for prettying */

#mad_story {
    .card {
        
    }
    figure {
        margin: 0;
    }
    figure {
        background: #555;
    }
    figure img {
        opacity: 1;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
    figure:hover img {
        opacity: .5;
    }
    img {
        max-width: 100%;
    } 
}




.tag_list {
    text-align: left;
    word-spacing: 0.5rem;
    a, a:visited {
        color: $tag_color;
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.075rem;
        padding: 1px;
    }
    a:hover {
        color: $tag_hover_color;
        text-decoration: none;
    }
}



/* PANIC */

#story_grid {
    *,
    *::before,
    *::after { 
        box-sizing: border-box;
    }


    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    .btn {
        background-color: white;
        border: 1px solid #cccccc;
        //border-radius: 1rem;
        color: #696969;
        padding: 0.5rem;
        text-transform: lowercase;
    }

    .btn--block {
        display: block;
        width: 100%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 -0.5rem;
        padding: 0;
        align-content: space-between;
    }

    .cards__item {
        display: flex;
        padding: 0.5rem;
        @media(min-width: 24rem) {
            width: 50%;
        }
        @media(min-width: 40rem) {
            width: 33.3333%;
        }
        @media(min-width: 56rem) {
            width: 25%;
        }
    }

    .card {
        font-family: 'COUTUREBold', sans-serif;
        background-color: $white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &:hover {
            .card__image {
                filter: contrast(60%);
            }
        }
    }

    .card__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 0.5rem;
    }

    .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        //filter: contrast(70%);
        //filter: saturate(180%);
        overflow: hidden;
        position: relative;
        transition: 0.2s cubic-bezier(.43,.41,.22,.71);
        &::before {
            content: "";
            display: block;
            padding-top: 56.25%; // 16:9 aspect ratio
        }
        @media(min-width: 40rem) {
            &::before {
                padding-top: 66.6%; // 3:2 aspect ratio
            }
        }
    }

    .card__title {
        font-size: 1rem;
        letter-spacing: 1rem;
        a {
            text-transform: uppercase;  
        }

    }

    .card__text, .card__quotation {
        color: $nearly_black;
        flex: 1 1 auto;
        font-size: 0.75rem;
        letter-spacing: 0.075rem;
        line-height: 1.5;
        font-style: italic;
        margin: 0.5rem 0 1.25rem 0;
    }

    .card__tag-list {
        font-size: 0.5rem;
        padding: 0;    
        margin:  0;
    }

}


/* SWIPER */

#swiper {
    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 80%;
      width: 100%;
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
}



/* BOOTSTRAP GALLERY */
#story_gallery {

	.thumb{
    margin-bottom: 30px;
	}

	img.zoom {
		margin: 0;
	    width: 100%;
	    height: auto;
	    border-radius:1px;
	    object-fit:cover;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	}

	.transition {
	    -webkit-transform: scale(1.2); 
	    -moz-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}
	.modal-header {
	 border-bottom: none;
	}
	.modal-title {
	    color:#000;
	}
	.modal-footer{
	  display:none;  
	}

	.fancybox-skin {
		padding: 0 !important;
	}
}
