@import "local-styles/variables";

// *** BASE THINGS *** //

// BASE

$outer_bg: $antiflash_white;
$base_bg: $antiflash_white;
$base_text: $nearly_black;
$header_card_text: $base_text;
$text_dark_bg: $antiflash_white;

$link_color: $diana_red;
$link_hover_color: $wild_watermelon;

$link_active_color: $orig_golden_sand;
$icon_color: $base-text;
$icon_color_light: $antiflash_white;
$icon_hover_color: $diana_red;

$line_color: $bay_wharf_grey;




// NAVBAR AND MENU

$home_icon_color: $nearly_black;
$home_icon_hover_color: $diana_red;
$navbar_bg: $white;
$navbar_link_color: $nearly_black;
$navbar_link_hover_color: $white;
$navbar_link_active_color: $white;

$burger_button_bg: $diana_red;
$burger_button_text: $white;
$burger_menu_bg_color: $white;
$burger_menu_bg_hover_color: $antiflash_white;
$burger_menu_link_color: $nearly_black;
$burger_menu_link_hover_color: $diana_red;



// BUTTONS

$btn_text: $antiflash_white;

$btn_success_bg: $watermelon;
$btn_success_border: $watermelon;
$btn_success_hover: $wild_watermelon;

$btn_info_bg: $watermelon;
$btn_info_border: $watermelon;
$btn_info_hover: $wild_watermelon;



// FEATURES

$tag_color: $prestige_blue;
$tag_bg_color: $orig_golden_sand;
$tag_hover_color: $orig_golden_sand;
$tag_bg_hover_color: $bay_wharf_grey;
$blog_footer_bg_color: $white;



//*** HOME PAGE SECTIONS *** //
// COVER

// COVER

$headline_bg_color: $nearly_black;
$headline_color: $antiflash_white;
$video_bg_color: $nearly_black;
$tagline_bg_color: $white;
$tagline_color: $diana_red;

// CTAs
$cta_participate_bg_color: $peace_grey;
$cta_participate_text_color: $nearly_black;
$cta_mailinglist_bg_color: $city_lights_grey;
$cta_mailinglist_text_color: $nearly_black;

// QUOTATION
$index_quotation_bg_color: $white;

// ABOUT
$index_about_bg_color: $city_lights_grey;

// STORIES
$index_interviews_title_color: $nearly_black;

// SCRIBBLES
$index_scribbles_outer_bg_color: $base_bg;
$index_scribbles_title_color: $nearly_black;

// EVENTS
$index_events_title_color: $nearly_black;

// TEAM
$index_team_bg_color: $peace_grey;
$team_cards_color: $half_white;

// PRESS / SPONSORS
$index_press-sponsors_title_color: $nearly_black;

// CONTACT
$index_contact_bg_color: $antiflash_white;

// COPYRIGHT
$index_copyright_bg_color: $white;
$index_copyright_text_color: $nearly_black;



// FOOTER

$footer_bg_color: $nearly_black;
$footer_text_color: $antiflash_white;
$footer_link_color: $antiflash_white;
$footer_link_hover_color: $diana_red;

