@import "local-styles/variables";

// *** BASE THINGS *** //

// ALL PAGES

$outer_bg: $antiflash_white;
$base_bg: $antiflash_white;
$base_text: $nearly_black;
$link_color: $watermelon;
$link_hover_color: $coral;
$link_active_color: $coral;


// NAVBAR AND MENU

$navbar_bg: $antiflash_white;
$navbar_link_color: $nearly_black;
$navbar_link_hover_color: $antiflash_white;
$navbar_link_active_color: $watermelon;

$burger_button_bg: $nasturcian_flower;
$burger_button_text: $antiflash_white;
$burger_menu_bg_color: white;
$burger_menu_bg_hover_color: $antiflash_white;
$burger_menu_link_color: $nearly_black;
$burger_menu_link_hover_color: $watermelon;



//*** HOME PAGE SECTIONS *** //


// COVER

$headline_bg_color: $antiflash_white; // NOT CURRENTLY USED
$headline_color: $antiflash_white;
$video_bg_color: $nearly_black;
$tagline_bg_color: $nearly_black;
$tagline_color: $antiflash_white;


// QUOTATION

$index_quotation_bg_color: $antiflash_white;


// ABOUT

$index_about_bg_color: $city_lights_grey;


// INTERVIEWS

$index_interviews_bg_color: $harley_davidson_orange;


// EVENTS

$index_events_bg_color: $antiflash_white;


// TEAM

$index_team_bg_color: $city_lights_grey;


// PRESS / SPONSORS

$index_press-sponsors_bg_color: $harley_davidson_orange;


// CONTACT

$index_contact_bg_color: $antiflash_white;


// TEXT

$index_dark_bg_title_color: $antiflash_white;




// BUTTONS

$btn_text: $antiflash_white;
$btn_subscribe_bg: $bright_greek;
$btn_subscribe_border: $bright_greek;
$btn_subscribe_hover: $saturated_sky;
$btn_success_bg: $bright_greek;
$btn_success_border: $bright_greek;
$btn_success_hover: $saturated_sky;
$btn_info_bg: $twinkle_blue;
$btn_info_border: $twinkle_blue;
$btn_info_hover: $saturated_sky;


// FOOTER

$footer_bg_color: $nearly_black;
$footer_text_color: $antiflash_white;
$footer_link_color: $antiflash_white;
$footer_link_hover_color: $watermelon;




// *** GENERAL OBJECTS *** //

$tag_color: $prestige_blue;
$tag_bg_color: $orig_golden_sand;
$tag_hover_color: $orig_golden_sand;
$tag_bg_hover_color: $bay_wharf_grey;

$header_card_text: $base_text;

$line_color: $bay_wharf_grey;

$email: $periwinkle;