/* Menu */

$navbar-height: 75px;
.header {
    width: 100%;
    font-face: 'Helevetica Neue', sans-serif;
    .topbar {
        z-index: 1000;
        background: $navbar_bg;
        position: fixed;
        top: 0;
        right: 0;    
    }
    .home > img {
        height: $navbar-height;
        width: auto;
        margin: 10px;
        padding: 0;
    }   


    ul {
        z-index: 1000;   
        list-style: none;
        margin: 20px 0px;
        padding: 0;
        text-transform: uppercase;
        font-size: 0.82em;
        font-weight: 900;
        letter-spacing: 0.05em;
        float: right;
        @media screen and (max-width: 980px){
            display: inline-block;
        }
        li {        
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            &:hover > ul {
                display: block;
            }            
            &:hover {
                background: $navbar_link_color;
                color: $navbar_bg;
                &:visited {
                    color: $navbar_bg
                }                
            }
            &:hover > a { 
                color: $navbar_bg;
            }            
            a {
                display: block;
                color: $navbar_link_color;
                text-decoration: none;
                line-height: 20px;
                padding: 15px;
                &.subcategory::after {
                    content: " ";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    vertical-align: middle;
                    border-top: 4px dashed;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                }
            }         
        }
    }
    input[type=checkbox]{
        display: none;
    }
}

.menu-burger {
    float: right;
    display: none;
    margin: 25px 10px;
    padding: 10px 5px;
    width: 115px;
    color: $burger_button_text;
    font-weight: 700;
    letter-spacing: 0.05em;
    background: $burger_button_bg;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 2px;
    width: 115px;
    float: right;
    margin: 30px 15px 25px 15px;
    display: none;
    .fa, .fas {
        margin: 0 10px 0 0;
        color: $burger_button_text;
    }
    @media screen and (max-width: 846px){
        display: block;
    }
}

/*Responsive Styles*/
@media screen and (max-width: 846px){
    .header {
        input[type=checkbox]:checked ~ ul{
            display: inline-block;
            float: none;
        }
        ul {
            position: relative;
            display: none;
            width: 100%;
            background: $burger_menu_bg_color;
            li {
                width: 100%;
                text-align: center;
                margin-bottom: 1px;
                &:hover {
                    background: $burger_menu_bg_hover_color;
                }
                &:hover > a {
                    color: $burger_menu_link_hover_color;
                }
                a {
                    color: $burger_menu_link_color;
                    padding-left: 0px;
                    padding-right: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
}