/*
	PALETTE
*/


// BASE

$diana_red: #fe0000;
$nearly_black: #1a1c1f;
$peace_grey: #a4b0be;
$city_lights_grey: #dfe4ea;
$half_white: #f8f8fa;
$nearly_white: #fdfaff;
$white: #fff;

$turquoise: #5ad67d;

// ACTIONS with hovers
$coral: #ff7f50;
$wild_watermelon: #ff6b81;
$watermelon: #ff4757;
$saturated_sky: #5352ed;



// FEATURES

$prestige_blue: #2f3542;
$orig_golden_sand: #eccc68; // e.g. tag bg
$prestige_blue: #2f3542; // e.g. tag lettering
$bay_wharf_grey: #747d8c;





// PARKED

$nasturcian_flower: #e84118;
$harley_davidson_orange: #c23616;
$pomegranate: #c0392b;

// line 1

$golden_sand: #ffdf50; // added

$grisaille: #57606f;

// line 2
$orange: #ffa502;
$brushcetta_tomato: #ff6348;


// line 3
$french_sky_blue: #70a1ff;


// line 4
$ufo_green: #2ed573;
$bright_greek: #3742fa;
$antiflash_white: #f1f2f6;
$twinkle_blue: #ced6e0;