/*
	PALETTE
*/


// RANDOM / PRESET

$nearly_black: #1a1c1f;
$periwinkle: #9c88ff;
$facebook: #3B5998;

$diana_red: #fe0000;


// BRITISH PALETTE
$nasturcian_flower: #e84118;
$harley_davidson_orange: #c23616;


// V1 
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$pomegranate: #c0392b;



// CHINESE PALETTE

// line 1
$orig_golden_sand: #eccc68;
$golden_sand: #ffdf50; // added
$coral: #ff7f50;
$wild_watermelon: #ff6b81;
$peace_grey: #a4b0be;
$grisaille: #57606f;

// line 2
$orange: #ffa502;
$brushcetta_tomato: #ff6348;
$watermelon: #ff4757;
$bay_wharf_grey: #747d8c;
$prestige_blue: #2f3542;

// line 3
$french_sky_blue: #70a1ff;
$saturated_sky: #5352ed;
$city_lights_grey: #dfe4ea;

// line 4
$ufo_green: #2ed573;
$bright_greek: #3742fa;
$antiflash_white: #f1f2f6;
$twinkle_blue: #ced6e0;