---
layout: base
permalink: /
---
<section id="title-card">
	<div class="content-title">
		<h1>Too Much of&nbsp;a Person</h1>    
	</div>
	<span>Take up all of your space</span>
</section>

<section class="quotation">
    <div class="content">
    	<blockquote>
	    	<p class="left">	
		    	<i class="fa fa-quote-left fa-3x left"></i>
		    </p>
			<div class="words">...... quotation of whatever length because the quote marks can go anywhere quotation of whatever length because the quote marks can go anywhere  ...... </div>
		    <p class="right">	
		    	<i class="fa fa-quote-right fa-3x"></i>
		    </p>
	    </blockquote>
    </div>
</section>

{% include upcoming_events.html %}

{% include supporters.html %}