---
layout: base
permalink: /
og-title: "Too Much of a Person | Taking up all the space"
og-url: http://toomuchofaperson.com
og-description: "Too Much of a Person is a project chronicling the experiences of self-identifying women and non-binary people being told they were 'too much' of something (nice, loud, sensitive, aggressive etc.) to dismiss or conform them to the current perception of how a woman should be. Your too much could be your power. Let’s reclaim that, take up space together and be whatever we want."
og-image: http://toomuchofaperson.com/thumbnail.png
og-image_type: "image/png"
og-image_width: 1200
og-image_height: 635
---
<a id="index_cover"></a>
<section class="cover">
	<div class="container-fullwidth">
		<img class="img-fluid" width="100%" src="{{site.baseurl}}assets/images/logos/tmoap-twitter-header.jpg" />
	</div>
</section>

<section class="video">
	<div class="container-fullwidth">
  		{% include video.html url="https://www.youtube.com/embed/s-OJoLnkEoA?rel=0&amp;showinfo=0" width="560" height="315" string="helooo" %}
	</div>
</section>

<a id="index_about"></a>
<section class="container_section about">
	<div class="container container_lightbox">
		{% include index_about.html %}
	</div>
</section>

<a id="index_quotation"></a>
<section class="container_section quotation">
    <div class="container">
    	{% include index_poem.html %}
    </div>
</section>

<a id="index_stories"></a>
<section class="container_section stories">
	<div class="container container_lightbox">
		{% include index_stories.html %}
	</div>
</section>

<a id="index_scribbles"></a>
<section class="container_section scribbles">
	<div class="container">
		{% include index_scribbles.html %}
	</div>
</section>

<a id="index_events"></a>
<section class="container_section events" style="background-image: url('{{site.baseurl}}assets/images/backgrounds/event_letterbox.jpg');background-repeat: no-repeat;background-size:cover;padding-top:80px;padding-bottom:80px;">
		<div class="container container_lightbox">
			{% include index_events.html %}
		</div>
</section>

<a id="index_team"></a>
<section class="container_section team">
	<div class="container">
		{% include index_team.html %}
	</div>
</section>


<a id="index_press-sponsors"></a>
<section class="container_section press_sponsors"  style="background-image: url('{{site.baseurl}}assets/images/backgrounds/press_letterbox.jpg');background-repeat: no-repeat;background-size:cover;padding-top:80px;padding-bottom:80px;">
		<div class="container container_lightbox">
			{% include index_press-sponsors.html %}
		</div>
</section>

<section class="container_section cta dark">
    <!-- {% include cta_participate.html %} -->
    <div class="container">
		<h3>Want to join our community?</h3>
		<p>See how you could get involved with our <a href="#index_events">launch celebration</a>!</p>
	</div>
</section> 

<section class="container_section copyright_extended">
	<div class="container our_content">
		{% include index_our-content.html %}
	</div>
</section>

<a id="index_contact"></a>
<section class="container_section cta_mailinglist">
    {% include cta_mailinglist.html %}
</section>    

<section class="container_section" id="social">
	{% include social_blobs.html %}
</section>