<div class="container cta_participate">
	<h3>Want to take part in the project?</h3>
	<p>Come and have an story and photoshoot with professional photographer Diana Patient, Founder and Creative Director of Too Much of a Person.</p>
	<p>Share your story. Own your power. Let's make waves together.</p>
	<p>Appointments at your convenience.</p>
	<div class="center" style="margin-bottom: 50px;">
		<form class="form" action="https://toomuchofaperson.simplybook.it" target="popupwindow" onsubmit="window.open('#', 'popupwindow', 'scrollbars=yes,width=800,height=1000');return true">
	        <input type="hidden" value="1" name="embed"/>       
	        <button href="" class="btn btn-success" name="participate"> Book Now <i class="fas fa-angle-right"></i></button>
	    </form>
	</div>
</div>