<div class="container">
	<h3>Help us share these stories</h3>
	<p>There are just <strong>28 days</strong> left to reach our goal on Kickstarter.</p>

	<div class="center">
		<iframe src="https://www.kickstarter.com/projects/1498415167/too-much-of-a-person/widget/card.html?v=2" width="220" height="380" frameborder="0" scrolling="no"></iframe>
	</div>

	<p>We need your help.</p>
	<p>Your kind donations will support the upcoming multi-media exhibition marking our public launch, as well as the amazing programme of events we have in the pipeline.</p>
	<div class="center">
		<form class="form" action="https://www.kickstarter.com/projects/1498415167/too-much-of-a-person" target="popupwindow" onsubmit="window.open('#', 'popupwindow', 'scrollbars=yes,width=800,height=1000');return true">
	        <input type="hidden" value="1" name="embed"/>       
	        <button href="" class="btn btn-success cta-button" name="participate"> Donate now <i class="fas fa-angle-right"></i></button>
	    </form>
	</div>
</div>