<div class="container"><h3>Sign up to our mailing list to stay in touch:</h3>
	<div class="center">
		<form class="form" action="#" method="post" target="popupwindow" onsubmit="window.open('#', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		    <input type="hidden" value="1" name="embed"/>
		    <input type="email" name="email" size="30" placeholder="Your email address"/><br>
		    <button type="submit" class="btn btn-success" name="subscribe" style="margin-top:20px;">Subscribe<i class="fas fa-angle-right"></i></button>
		</form>
	</div>
</div>

		

