<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    // Open Graph tags
    <meta property="og:url" content="http://toomuchofaperson.com/">
    <meta property="og:description" content="Too Much of a Person is a project chronicling the experiences of self-identifying women and non-binary people being told they were 'too much' of something (nice, loud, sensitive, aggressive etc.) to dismiss or conform them to the current perception of how a woman should be. Your too much could be your power. Let’s reclaim that, take up space together and be whatever we want.">
    <meta property="og:image" content="http://toomuchofaperson.com/thumbnail.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="635">

    <title>Too Much of a Person {% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>