<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    // Open Graph tags
    {% if page.og-title %}
    	<meta property="og:title" content="{{ page.og-title }}">
	{% endif %}
    {% if page.og-url %}
    	<meta property="og:url" content="{{ page.og-url }}">
	{% endif %}
	{% if page.og-description %}
    	<meta property="og:description" content="{{ page.og-description }}">
	{% endif %}
	{% if page.og-image %}
    	<meta property="og:image" content="{{ page.og-image }}">
	{% endif %}
	{% if page.og-image_type %}
    	<meta property="og:image_type" content="{{ page.og-image_type }}">
	{% endif %}
	{% if page.og-image_width %}
    	<meta property="og:image_width" content="{{ page.og-image_width }}">
	{% endif %}
	{% if page.og-image_height %}
    	<meta property="og:image_height" content="{{ page.og-image_height }}">
	{% endif %}			

    <title>Too Much of a Person {% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
