<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Too Much of a Person {% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/styles/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Sketch|Fredericka+the+Great">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>