<h3>Our content</h3>
<p style="font-size:0.9em">Please do share our content and celebrate Diana's wonderful photographs and film wherever you like, but make sure you always credit "Too Much of a Person, toomuchofaperson.com" and/or tag us in social media posts.</p>
<p style="font-size:0.9em">Please don't use these images for commercial purposes without contacting Diana first.</p>
<p style="font-size:0.9em">Source code for this website is published under the Open licence GPLv3; details are at the bottom of this page.
<p style="font-size:0.9em">tl;dr: Be respectful!</p>
