<h1>Stories</h1>
<div class="section_subtitle">
	<span>Never too many people, opinions, stories...</span>
</div>
{% if site.show_stories %}
	<div class="section_subtitle" style="margin-top: 2em; text-align: right"><span>See all <a href="{{ site.url }}/stories">>></a></span></div>
		<div class="list_to_hide_or_not_hide" style="display:none" data-limit='4'>
			{% include list_stories.html %}
		</div>
	</div>
{% else %}
	<p>Coming soon in 2019...</p>
	<p>We are currently editing the interviews and portraits of 100 womxn and non-binary people. They’re raw and articulate and beautiful and well worth the wait. Watch this space.</p>
{% endif %}