<h1>About</h1>

<p>‘Too Much of a Person’ is a project chronicling the experiences of self-identifying women and non-binary people being told they were "too much" of something (nice, loud, sensitive, aggressive etc.) to dismiss or conform them to the current perception of how a woman should be.</p>


<p>Your too much could be your power. Let’s reclaim that, take up space together and be whatever we want.</p>


<p>Welcome to the home of the online gallery of this multi-media exhibition where you can listen to the powers and waves these extraordinary people are making in the world, and know that you are not alone.</p>


<p>Follow us on social media to keep up to date with all our happenings.</p>


<div class="social social_inline">
	{% include snippet_social-blobs.html %}
</div>
