<h1>{{ this_tag }}</h1>
<div class="story_list">
	<ul>
	{% for story in site.stories %}
		{% if story.tags contains this_tag %}
			<li>
                <a href="{{ story.url | relative_url }}"><img src="{{ story.thumbnail | relative_url }}" /></a>
                <div class="name"><a href="{{ story.url | relative_url }}">{{ story.storyee }}</a></div>
                <div class="tags" id="tags">
                    {% for tag in story.tags %}   
                        <a href="" class="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </li>
		{% endif %}
	{% endfor%}
	</ul>
<div>