<h1>{{ this_tag }}</h1>
<div class="interview_list">
	<ul>
	{% for interview in site.interviews %}
		{% if interview.tags contains this_tag %}
			<li>
                <a href="{{ interview.url | relative_url }}"><img src="{{ interview.thumbnail | relative_url }}" /></a>
                <div class="name"><a href="{{ interview.url | relative_url }}">{{ interview.interviewee }}</a></div>
                <div class="tags" id="tags">
                    {% for tag in interview.tags %}   
                        <a href="" class="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </li>
		{% endif %}
	{% endfor%}
	</ul>
<div>