{% assign events = "" | split,"" %}
{% assign current_time = site.time | date: "%s" | to_integer %}
{% assign sorted = site.events | sort: 'date' %}
{% for post in sorted %}
    {% assign start = post.date | date: "%s" | plus: 86400 | to_integer %}
    {% if start >= current_time %}
        {% assign events = events | push:post %}
    {% endif %}
{% endfor %}

<section class="previous_events">
	<div class="content">
		<h1>Previous events</h1>
		<ol class="past-events" reversed="reversed">
		{% assign current_time = site.time | date: "%s" | to_integer%}
		{% assign sorted = site.events | sort: 'date' | reverse %}
		{% for post in sorted %}
		    {% assign start = post.date | date: "%s" | plus: 86400 | to_integer %}
		    {% unless start >= current_time %}
		        <li>
		        	<hr>
		            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		            <span class="fa fa-calendar fa-fw" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</span>
		            <span class="fa fa-map-marker fa-fw">{{ post.venue }}, {{ post.city }}</span>
		        </li>
		    {% endunless %}
		{% endfor %}
		</ol>
	</div>
</section>



