<div class="flex-container">
	
	<a>&nbsp;</a>
	<!--
	<a class="" href="mailto:toomuchofaperson@gmail.com" target="new"><i class="fas fa-envelope"></i></a>
	<a class="" href="https://instagram.com/toomuchofaperson/" target="new"><i class="fab fa-instagram"></i></a>
	-->

	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Listen to this person&#39;s story of being called &#39;too much&#39; and know you're not the only one." data-via="tmoaptweets" data-hashtags="toomuchofaperson" data-show-count="false">Share on twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	<!--
	<a class="" href="https://www.facebook.com/toomuchofaperson/" target="new"><i class="fab fa-facebook"></i></a>
	-->

	<!--<a href="http://github.com/DeckOfPandas/too-much-of-a-person/" target="new"><i class="fab fa-github"></i></a>-->

	<a>&nbsp;</a>
</div>

