<div class="container flex-container">
	<a class="blob col-md-3 col-sm-6" href="mailto:toomuchofaperson@gmail.com" target="new"><i class="fas fa-envelope"></i></a>
	<a class="blob col-md-3 col-sm-6" href="https://instagram.com/toomuchofaperson/" target="new"><i class="fab fa-instagram"></i></a>
</div>
<div class="container flex-container">
	<a class="blob col-md-3 col-sm-6" href="https://twitter.com/tmoaptweets/" target="new"><i class="fab fa-twitter"></i></a>
	<a class="blob col-md-3 col-sm-6" href="https://facebook.com/tmoap/" target="new"><i class="fab fa-facebook"></i></a>
	<!--<a href="http://github.com/DeckOfPandas/too-much-of-a-person/" target="new"><i class="fab fa-github"></i></a>-->
</div>