{% assign sorted = site.stories %}

<section id="story_grid">
    <ul class="cards">
        {% for story in sorted %}
            {% if site.show_stories %}
                <li class="cards__item">
                    <div class="card">

                        {% if site.path_stories_images | absolute_url | append: "/" |  append: story.slug | append: "/" | append: "matrix.jpg" %}
                            <a href="{{ story.url | absolute_url }}"><div class="card__image" style="background-image:url('{{ site.path_stories_images | absolute_url }}/{{ story.slug }}/matrix.jpg')"></div></a>
                        {% else if site.path_stories_images | absolute_url | append: "/" |  append: story.slug | append: "/" | append: "thumbnail.jpg" %}
                            <a href="{{ story.url | absolute_url }}"><div class="card__image" style="background-image:url('{{ site.path_stories_images | absolute_url }}/{{ story.slug }}/thumbnail.jpg')"></div></a>
                        {% endif %}
                        
                        <div class="card__content">
                            <div class="card__title">
                                <a href="{{ story.url | absolute_url }}" class="blog_list_title">
                                    {{ story.firstname }}
                                </a>
                            </div>
                            <div class="card__quotation">
                                {% if page.quotation %}
                                    "{{ story.quotation | strip_html }}"
                                {% else %}
                                    TODO QUOTATION
                                {% endif %}
                            </div>
                            <p class="card__tag-list tag_list">
                                {% if page.tags.size > 0 %}
                                    {% for tag in page.tags %}   
                                        <a href="" class="tag">{{ tag }}</a>
                                    {% endfor %}
                                {% else %}
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                    <a href="" class="tag">tag </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor%}
    </ul>
</section><!-- END story_grid -->