{% assign sorted = site.stories | sort: 'date' | reverse %}

<section id="story_grid">
    <ul class="cards">
        {% for story in sorted %}
            {% if site.show_stories %}
                <li class="cards__item">
                    <div class="card">
                        <a href="{{ story.url | absolute_url }}"><div class="card__image" style="background-image:url('{{ site.path_stories_images | absolute_url }}/{{ story.slug }}/thumbnail.jpg')"></div></a>
                        <div class="card__content">
                            <div class="card__title">
                                <a href="{{ story.url | absolute_url }}" class="blog_list_title">
                                    {{ story.firstname }}
                                </a>
                            </div>
                            <div class="card__quotation">
                                "{{ story.quotation | strip_html }}"
                            </div>
                            <p class="card__tag-list tag_list">
                                {% for tag in story.tags %}   
                                    <a href="" class="tag">{{ tag }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor%}
    </ul>
</section><!-- END story_grid -->