<div class="container-fullwidth row">
{% for member in page.team %}
	<div class="member col-lg-6 col-md-12" style="text-align: center">
		<div class="member_lhs col-lg-3 col-md-4 col-sm-5">
			<img class="name img-fluid" src="{{ site.baseurl }}assets/images/team/{{ member.photo }}" alt="{{ member.name }}" />
		</div>
		<div class="member_rhs col-lg-8 col-md-5 col-sm-6">
			<div class="name">{{ member.name }}</div>
	        <div class="role">{{ member.role }}</div>
			<div class="social">
	            {% if member.social.email %}<a class="fas fa-envelope" href="mailto:{{ member.social.email }}"></a>{% endif %}
	            {% if member.social.facebook %}<a class="fab fa-facebook" href="mailto:{{ member.social.facebook }}"></a>{% endif %}
	            {% if member.social.twitter %}<a class="fab fa-twitter" href="mailto:{{ member.social.twitter }}"></a>{% endif %}
	            {% if member.social.linkedin %}<a class="fab fa-linkedin" href="mailto:{{ member.social.linkedin }}"></a>{% endif %}
	            {% if member.social.github %}<a class="fab fa-github-alt" href="mailto:{{ member.social.github }}"></a>{% endif %}
	        </div>	
        </div>		        
	</div>
{% endfor %}
