<div class="member-card-container">
	{% for member in site.data.team %}
	    <div class="member-card">
	        <div class="profile_photo">
	            <img class="img-fluid" src="/assets/images/team/{{ member.photo }}" alt="{{ member.name }}" />
	        </div>
	        <div class="name"><p>{{ member.name }}</p></div>
	        <div class="role">{{ member.role }}</div>
	        <div class="social">
	            {% if member.email %}
	            	<a class="fas fa-envelope" href="mailto:{{ member.email }}" target="new"></a>
            	{% endif %}	
	        </div>	    
	    </div>
    {% endfor %}
</div>