/* couture-bld - latin */
@font-face {
    font-family: 'Couture';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/couture-bld.eot'); /* IE9 Compat Modes */
    src: local('Couture Bold'), local('Couture-Bold'),
         url('../fonts/couture-bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/couture-bldwoff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/couture-bld.woff') format('woff'), /* Modern Browsers */
         url('../fonts/couture-bld.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/couture-bld.svg#Couture') format('svg'); /* Legacy iOS */
}