body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.fa {
    &::before {
        margin: 0 0.5em 0 0.5em;
    }
}

.fa-twitter-square::before {
    color: $twitter;
}

.fa-facebook-square::before {
    color: $facebook;
}

.fa-envelope-square::before {
    color: $email;
}

.fa-list-alt::before {
    color: grey;
}
