@import "local-styles/CUSTOMISER";

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

hr {
    clear: both;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    background-color: $outer_bg;
    color: $base_text;
    @media screen and (max-width: 760px){
        margin-bottom: 0px;
    }
}

.content .magic_content, {
    padding-top: 30px;
    padding-bottom: 40px;
}

.content, .content_no_padding, .magic_content, .header div, .title-card div, .body, .metadata{
    //max-width: $max_width; //1170px;
    margin: 0 auto;
}

.content, .content_no_padding, .magic_content {
    background: $base_bg;
    padding: 30px 30px 70px 30px;
    h1, h2, h3, h4, h5, p {
        margin-bottom: 24px;
        padding: 0;
    }
    h1 {
        width: 70%;    
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.4em;
        font-weight: 900;
        text-transform: uppercase;
        margin: 24px auto 18px auto;
        small {
            font-size: 67%;
            font-weight: 300;
        }
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.4em;
        small {
            font-style: italic;
            font-size: 70%;
        }
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 1em;
    }

    a, a:visited {
        color: $link_color;
        font-weight: 700;
        margin:0;
        padding:0;
        text-decoration:none;
        vertical-align:baseline;
    }
    a:hover {
        color: $link_hover_color;
    }

    p, ul, ol {
        width: 70%;
        text-align: justify;
        margin: 30px auto;
        font-size: 2em;
        font-weight: 500;
        line-height: 1.5em;        
        @media screen and (max-width: 760px){
            width: auto;
        }
    }
    .top {
            margin-top: 0 !important;
        }
    .right {
        text-align: right !important;
    }       

    li {
        padding-left: 5px;
        p {
            font-size: 1em; 
        }
    }
    
    hr {
        margin: 20px auto;
        max-width: 600px;
        height: 1px;
        border: 0;
    }
}

.content_no_padding {
    padding: 0 !important;
}


// BLOCKS

.header {
    background: $navbar_bg;
    font-family: 'Helevetica Neue', sans-serif;
    //max-width: $max_width;
    margin: 0 auto;
    img {
        height: 80px;
        padding: 0 5%;
        margin: 10px 0 5px 0;
    }
    &::after{
        content: " ";
        display: block;
        clear: both;
    }
    .home {
        @media screen and (max-width: 380px){
            display: inline-block;
            overflow: hidden;
            width: 150px;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 25px 0 0 0;
        text-transform: uppercase;
        font-size: 0.95em;
        font-weight: bold;
        float: right;
        @media screen and (max-width: 760px){
            display: inline-block;
            float: none;
            margin-bottom: 20px;
        }
        li {
            a {
                display: block;
                color: $navbar_link_color;
                text-decoration: none;
                line-height: 20px;
                padding: 15px;
                &:visited {
                    color: $navbar_link_color
                }
                &:active {
                    color: $navbar_link_active_color;
                }
                &.subcategory::after {
                    content: " ";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 4px;
                    vertical-align: middle;
                    border-top: 4px dashed;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                }
            }
            position: relative;
            float: right;
            margin: 0;
            padding: 0;
            &:hover {
                background: $navbar_link_color;
            }
            &:hover > ul {
                display: block;
            }
            &:hover > a { 
                color: $navbar_bg;
            }
        }
    }
    input[type=checkbox]{
        display: none;
    }
}

#title-card {
    background-image: $home_title_background;
}

#generic-header-card {
    background: rgba(255,255,255,1.0);//url('/too-much-of-a-person/assets/images/backgrounds/wild_oliva.png' ); // TODO remove tmoap dir from filepath for github !!!!
    color: $base_text;
}

#title-card, #generic-header-card {
    display: block;
    position: relative;
    height: auto;
    //max-width: $max_width;
    h1, h2 {
        color: $home_title_text;
        font-size: calc(10px + 14vmin);
        letter-spacing: -0.07em;
        line-height: 0.9em;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        max-width: 80%;
        margin: 0px auto;   
        padding-top: calc(40px + 2vmax);
        padding-bottom: calc(40px + 2vmax);
    }
    h2 { 
        font-size: 2em;
        letter-spacing: 0.15em;
        text-align: right;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.banner {
    display: block;
    //max-width: $max_width;
    margin: 0 auto;
    background: $banner_bg;
    color: $base_bg;
    h1 {
        padding-top: 12px;
        padding-bottom: 12px;
        font-family: 'Fredericka the Great', Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0px;
        font-size: calc(40px + 2vmax) !important;
        font-weight: 500;
        margin: 0;
        line-height: 0.9em;
    }
}

.quotation {
    margin: 0 auto;
    &.small {
        font-size: 0.5em;
        .words > p {
            line-height: 1.3em;
        }
    }     
    p {
        width: 100%;
        margin: 0;
        line-height: 0.8em;
    }
    p.left {
        text-align: left;
        width: 100%;
    }
    p.right {
        text-align: right;
        width: 100%;
        margin-top: 10px;
    }
    .fa {
        color: $base_text;
    }
    blockquote {
        padding: 0;
        margin: 0 15%;
        border-left: 10px solid $line_color;    
        font-style: italic;
    }
    .words {
        text-align: center;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        margin: 0 40px 0 80px !important;
        > .left {
            text-align: left !important;
        }
        > .right {
            text-align: right !important;
        }        
    }   
}

.interview_list {
    margin-left: 10%;
    margin-right: 5%;
    ul {
        float: none;
        width: 100%;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
        li {
            float: left;
            margin: 60px;
            padding: 0;
            img {
                height: 200px;
                margin: 0 auto;
            }           
            .name {
                width: 200px;
                font-size: 1.3em;
                font-weight: 700;
                margin-top: 10px;
                line-height: 1.8em; 
                text-align: left;
            }
            .tags {
                width: 200px; // TODO make relative to img
            }            
            .actions {
                a {
                    color: #fff;
                }
                
            }            
        }
    }
    p {
       margin: 0;
    }     
    &::after {
        content: " ";
        display: block;
        clear: both;
    }
}

.interview {
    h1 {
        color: $link_color;
    }
}

#youtube_frame {
    min-height: 360px;
    width: 100%;
    height: auto;  
    iframe {
        padding: 0 !important;           
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
    .overlay {
        position: absolute;
        width: 90%;
        height: 90%;
        z-index:999;      
        h1, h2 {
            color: $home_title_text;
            font-size: calc(-20px + 15vmax);
            letter-spacing: -0.005em;
            line-height: 0.8em;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0px auto;
            padding-left: 10%;
            padding-right: 10%;   
            padding-top: calc(-20px + 9vmax);
        }
    }     
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 560px;
}

.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tags {
    font-size: 0.7em;
    line-height: 1.8em; 
    text-align: justify;
    text-justify: inter-word;    
    p {
        text-align: center;
        line-height: 2.2em;         
    }
    a, a:visited {
        color: $tag_color;
        background: $tag_bg_color;
        text-transform: uppercase;
        font-weight: 900;
        text-align: left;
        letter-spacing: 0.15em;   
        padding: 3px;
        margin-right: 20px;
    }          
    a:hover {
        color: $tag_hover_color;
        background: $tag_bg_hover_color;
        text-decoration: none;
    }  
}     

.footer {
    display: block;
    width: 100%;
    padding: 20px 0 0 0 !important;
    background: $footer_bg_color;
    color: $footer_text_color;

    h1, h2, h3 {
        text-transform: uppercase;
    }
    a, a:visited {
        color: $footer_link_color;
        font-weight: 700;        
        vertical-align: baseline;
    }
    a:hover {
        color: $footer_link_hover_color;
    }
    .left {
        .fa::before {
            color: $footer_link_color;
        }
        .fa:hover::before{
            color: $footer_link_hover_color;
        }    
    }

    ul {
        padding: 0;
        margin: 10px 0;
    }
    ul > li {
        list-style-type: none;
        font-size: 0.5em;
    }

    @media screen and (max-width: 760px){
        position: relative;
    }

    .left, .center, .right {
        width: 33.33%;
        float: left;
        @media screen and (max-width: 760px){
            width: 100%;
            float: none;
            clear: both;
            padding: 20px;
            box-sizing: border-box;
        }
    }
    .left {
        @media screen and (max-width: 960px){
            padding-left: 20px;
            box-sizing: border-box;
        }
    }
    .center {
        @media screen and (max-width: 760px){
            max-width: 460px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .right {
        padding-left: 30px;
        box-sizing: border-box;
        @media screen and (max-width: 960px){
            padding-right: 20px;
        }
        @media screen and (max-width: 760px){
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
            input {
                margin-bottom: 0 !important;
            }
        }
        input {
            display: inline-block;
            padding: 5px 16px;
            font-size: 18px;
            line-height: 1.5;
            border: 1px solid transparent;
            vertical-align: middle;
            box-sizing: border-box;
            margin-bottom: 15px;
            @media screen and (max-width: 430px) {
                margin-bottom: 15px !important;
            }
        }
        form {
            margin-left: 0;
            text-align: center;
            input {
                width: 100%;
            }
        }
    }
    .body {
        width: 75%;
        &::after {
            content: " ";
            clear: both;
            display: block;
        }
    }
    .copyright {
        clear: both;
        border-top: solid 1px #000;
        padding: 15px 0;
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: 300;
        color: #999999;
        font-size: 13px;
        text-align: center;
    }
}