@import "local-styles/variables";


.menu-burger {
    text-decoration: none;
    text-transform: uppercase;
    color: $burger_button_text;
    background: $burger_button_bg;
    text-align: center;
    padding: 10px 0;
    width: 90px;
    float: right;
    margin: 30px 0px 25px 0;
    display: none;
    .fa {
        margin: 0 10px 0 0;
    }
}

/*Responsive Styles*/
@media screen and (max-width: 929px){
    .header {
        text-align: left !important;
        input[type=checkbox]:checked ~ ul{
            display: inline-block;
            float: none;
        }
        ul {
            z-index: 40;
            position: relative;
            display: none;
            width: 100%;
            background: $burger_menu_bg_color;
            padding-bottom: 20px;
            li {
                width: 100%;
                text-align: center;
                margin-bottom: 1px;
                &:hover {
                    background: $burger_menu_bg_hover_color;
                }
                &:hover > a {
                    color: $burger_menu_link_hover_color;
                }
                a {
                    color: $burger_menu_link_color;
                    padding-left: 0px;
                    padding-right: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
    .menu-burger {
        display: block;
    }
}
@media screen and (max-width: 970px){
    .header {
        text-align: center;
    }
}