---
layout: page_no_header
---
<dl class="metadata">
    <dt>Published:</dt>
    <dd><time pubdate datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></dd>
    <dt>Author:</dt>
    {% for person in page.authors %}
    <dd class="author"><a rel="author" href="{{ person.url }}" target="_blank">{{ person.name }}</a></dd>
    {% endfor %}
</dl>

<section class="blog_page">

	<div class="container-fullwidth">
		<img class="img-fluid blog_header_img" src="{{site.baseurl}}assets/images/blog/{{ page.post_number }}-1.jpg" />
	</div>

	<div class="blog_post_title flex-container_blog_title">
		<h1>{{ page.title }}</h1>
		<span class="author">:Sunaina Dasgupta:</span><time datetime="{{ 2018-06-15 | date_to_xmlschema }}">:{{ "2018-06-15" | date_to_long_string }}:</time>
	</div>
	<div class="container-fullwidth">
		<div class="blog_post_body">
			{{ content }}
		</div>
	</div>

</section>