---
layout: page_no_header
---
<dl class="metadata">
    <dt>Published:</dt>
    <dd><time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time></dd>
    <dt>Author:</dt>
    {% for person in page.authors %}
    <dd class="author"><a rel="author" href="{{ person.url }}" target="_blank">{{ person.name }}</a></dd>
    {% endfor %}
</dl>

<section class="blog_page">

	<div class="container-fullwidth blog_header_img">
		<img class="img-fluid" width="100%" src="{{site.baseurl}}assets/images/blog/{{ page.header_image }}" />
	</div>
	<div class="flex-container_blog_title blog_title">
		<h1>{{ page.title }}</h1>
		<div class="container-fullwidth" style="padding-bottom:2em;">
			<div class="author">:{{ page.author }}:</div>
			<div><time datetime="{{ page.date | date_to_xmlschema }}">:{{ page.date | date_to_long_string }}:</time></div>
		</div>
	</div>
	<div class="container-fullwidth blog_body">
		<div class="container">
			{{ content }}
		</div>
		{% if page.author_credit %}
			<div class="container author_credit">
				{{ page.author_credit }}
			</div>
		{% endif %}
	</div>
	<div class="container-fullwidth blog_footer center">
		{% include blog_footer.html %}
	</div>
</section>