---
layout: default
---

<section id="generic-header-card" class="content_no_padding">
    <h2><a href="{{ '/interviews' | absolute_url }}">Interviews</a>&nbsp;&nbsp;//&nbsp;&nbsp;{{ page.interviewee }}</h2>    
</section>

<section class="content interview">
    {% if page.video_youtube.size > 0 %}
        <div class="row" id="youtube_frame">
            <iframe class="col-md-8 offset-md-2" src="{{ page.video_youtube }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    {% else %}
        <p>video coming soon</p>
    {% endif %}
    
    <div id="tags">
        {% assign tags = page.tags %}
        {% if tags.size > 0 %}
        <p>
            {% for tag in tags %}   
                <span><a href="">{{ tag }}</a></span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="quotation small">
        <blockquote>
            <p class="left">    
                <i class="fa fa-quote-left fa-3x left"></i>
            </p>
            <div class="words">
                {% capture quotation %}{{ page.quotation }}{% endcapture %}
                <p class="right">{{ page.quotation }}</p>
                <br>
            </div>
            <p class="right">   
                <i class="fa fa-quote-right fa-3x"></i>
            </p>
        </blockquote>    
    </div>    
</section>


