---
layout: default
---

{% capture interviewee %}{{ page.interviewee }}, {{ page.date | date: "%-d %h %Y" }}{% endcapture %}
<section id="generic-header-card" class="content_no_padding">
    <h2>{{ page.interviewee }}</h2>    
</section>

<section class="content">
    <div class="main_photo">
        <p>main photo goes here</p>
        <img src="{{ page.thumbnail }}" />
    </div>
    <div class="">
        {% capture quotation %}{{ page.quotation }}{% endcapture %}
        <p>{{ page.quotation }}</p>
    </div>
    <div class="video">
        {% if video.size > 0 %}
            <p>video goes here</p>
        {% else %}
            <p>video coming soon</p>
        {% endif %}
    </div>
    <div class="tags">
        {% assign tags = page.tags %}
        {% if tags.size > 0 %}
        <p>
            {% for tag in tags %}   
                <span>{{ tag }}</span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</section>