---
layout: page_no_header-fullwidth
---
{% assign site_images_folder =  site.path_stories_images | absolute_url | append: "/" %}
{% assign story_images_folder = site_images_folder | append: page.slug | append: "/"  %}




<section class="container blog_archive_page">
    <div class="archive_page_title">
        <h1>{{ page.firstname }}</h1>
        <!-- <div class="section_subtitle_centered">
            <span>Subtitle if wanted</span>
        </div> -->
    </div>

    <div class="container-fullwidth">
        <section class="story">
            <div class="container-fullwidth story-object story-mainphoto">
                

<script>
    var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'vertical',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    })
</script>



                <!-- Slider main container -->
                <div class="swiper-container" style="border: 1px black solid">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        ...
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>


                <!-- <img class="story_main_photo img-fluid" src="{{ story_images_folder}}/main.jpg" /> -->
            </div>
            <div class="container-fullwidth story-object story-quotation">
                <div class="container">
                    <span class="quotation">
                        <i class="fa fa-quote-left"></i>
                        {{ page.quotation }}
                        <i class="fa fa-quote-right"></i>
                    </span>
                </div>
            </div>
            <div class="container-fullwidth story-object story-audio">
                <div class="container">
                    {% if page.audio_url.size > 0 %}
                        <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="{{ page.audio_url }}"></iframe>
                    {% else %}
                    <div class="container">
                        <p>audio coming soon</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="container-fullwidth story-object story-taglist">
                    <div class="tag_list">
                    {% for tag in page.tags %}   
                        <a href="" class="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="container-fullwidth story-object story-video">
                <div class="container-fullwidth">
                    {% if page.video_url.size > 0 %}
                        {% include video.html url=page.video_url width="560" height="315" %}
                    {% else %}
                    <div class="container">
                        <p>video coming soon</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="container-fullwidth story-object story-gallery">
                <div class="container">
                {% for image in site.static_files %}
                  {% if image.path contains story_images_folder %}
                    {% unless image.path contains 'main' %}
                        {% unless image.path contains 'thumbnail' %}
                            <div class="container-fullwidth story-object story-mainphoto">
                                <img class="story_main_photo img-fluid" src="{{ image.path }}" alt="" />
                            </div>
                        {% endunless %}
                    {% endunless %}
                  {% endif %}
                {% endfor %}
                </div>
            </div>  
        </section>



        <section class="">
            <div class="container-fullwidth story-object" style="margin-top:2em; margin-bottom:-2em;">
                <h1>related stories</h1>
            </div>  
            <div class="container-fullwidth story-related">
                {% include related_stories.html %}
            </div>
        </section>
    </div>
</section>

<section class="container_section cta_mailinglist">
    {% include cta_mailinglist.html %}
</section>    

<section class="container_section social">
    {% include social_blobs.html %}
</section>



