---
layout: page_no_header-fullwidth
---
{% assign site_images_folder =  site.path_stories_images | absolute_url | append: "/" %}
{% assign story_images_folder = site_images_folder | append: page.slug | append: "/"  %}




<section class="container blog_archive_page">
    <div class="archive_page_title">
        <h1>{{ page.firstname }}</h1>
        <!-- <div class="section_subtitle_centered">
            <span>Subtitle if wanted</span>
        </div> -->
    </div>

    <div class="container-fullwidth">
        <section class="story">
       		
       		<!-- GALLERY -->
		   <div class="container" id="story_gallery">
		   		<div class="row">
					<div class="col-sm-6 offset-sm-3 thumb">
		                <a href="{{ story_images_folder}}/main.jpg" class="fancybox" rel="ligthbox">
		                    <img  src="{{ story_images_folder}}/main.jpg" class="zoom img-fluid "  alt="">
		                </a>
		            </div>
				</div>
		        <div class="row">
		        	{% for image in site.static_files %}
		              {% if image.path contains story_images_folder %}
		                {% unless image.path contains 'ain' %} <!-- HAXXXX -->
		                    {% unless image.path contains 'atrix' %}
		                        <div class="col-lg-3 col-md-4 col-sm-4 thumb">
					                <a href="{{ image.path }}" class="fancybox" rel="ligthbox">
					                    <img  src="{{ image.path }}" class="zoom img-fluid "  alt="">
					                </a>
					            </div>
		                    {% endunless %}
		                {% endunless %}
		              {% endif %}
		            {% endfor %}
		       </div>
		    </div>

		    <!-- QUOTATION -->
            <div class="container-fullwidth story-object story-quotation">
                <div class="container">
                    <span class="">
                        {% if page.quotation %}
                            <i class="fa fa-quote-left"></i>
                                {{ page.quotation }}
                            <i class="fa fa-quote-right"></i>
                        {% else %}
                            quotation coming soon
                        {% endif %}
                    </span>
                </div>
            </div>
        </section>
        
        {% if page.audio_url.size > 0 %}
        <section class="" style="background: #fff!important">
            <div class="container-fullwidth story-object" style="margin:2rem;
             auto 1.75rem 0.75rem">
            	<h2 style="font-family:COUTUREBold,sans-serif!important;letter-spacing:0.25rem">In their own words...</h2>
            	<div class="container-fullwidth">
                	<iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="{{ page.audio_url }}"></iframe>
            	</div>
            </div>
        </section>	
        {% else %}
        	<p>Interview coming soon</p>
        {% endif %}


         <!-- TAGS -->
         {% if page.tags.size > 0 %}
         <section class="story">
             <div class="container-fullwidth story-object story-taglist">
            	<div class="container-fullwidth">
                    <div class="tag_list">
                        <div class="container">
                            {% for tag in page.tags %}   
                                <a class="tag">#{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
             </div>
        </section><!-- END TAGS and .story -->
        {% endif %}

        <!-- RELATED STORIES -->
        <section class="">
            <div class="container-fullwidth story-object" style="margin-top:2em; margin-bottom:-2em;">
            	<h1 style="font-family:COUTUREBold,sans-serif!important;letter-spacing:0.25rem">other stories</h1> <!-- HAXXXX as for heading above--><!-- NB: this could be abstracted as a section -->
            </div>  
            <div class="container-fullwidth story-related">
                {% include related_stories.html %}
            </div>
        </section>
    </div>
</section>

<section class="container_section cta_mailinglist">
    {% include cta_mailinglist.html %}
</section>    

<section class="container_section social">
    {% include social_blobs.html %}
</section>



