---
layout: page_no_header-fullwidth
---
{% assign site_images_folder =  site.path_stories_images | absolute_url | append: "/" %}
{% assign story_images_folder = site_images_folder | append: page.slug | append: "/"  %}




<section class="container blog_archive_page">
    <div class="archive_page_title">
        <h1>{{ page.firstname }}</h1>
        <!-- <div class="section_subtitle_centered">
            <span>Subtitle if wanted</span>
        </div> -->
    </div>

    <div class="container-fullwidth">
        <section class="story">
       		
       		<!-- GALLERY -->
		   <div class="container" id="story_gallery">
		   		<div class="row">
					<div class="col-sm-6 offset-sm-3 thumb">
		                <a href="{{ story_images_folder}}/main.jpg" class="fancybox" rel="ligthbox">
		                    <img  src="{{ story_images_folder}}/main.jpg" class="zoom img-fluid "  alt="">
		                </a>
		            </div>
				</div>
		        <div class="row">
		        	{% for image in site.static_files %}
		              {% if image.path contains story_images_folder %}
		                {% unless image.path contains 'ain' %} <!-- HAXXXX -->
		                    {% unless image.path contains 'atrix' %}
		                        <div class="col-lg-3 col-md-4 col-sm-4 thumb">
					                <a href="{{ image.path }}" class="fancybox" rel="ligthbox">
					                    <img  src="{{ image.path }}" class="zoom img-fluid "  alt="">
					                </a>
					            </div>
		                    {% endunless %}
		                {% endunless %}
		              {% endif %}
		            {% endfor %}
		       </div>
		    </div>

		    <!-- QUOTATION -->
            <div class="container-fullwidth story-object story-quotation">
                <div class="container container_no_tb">
                    <span class="quotation">
                        {% if page.quotation %}
                            <i class="fa fa-quote-left"></i>
                                {{ page.quotation }}
                            <i class="fa fa-quote-right"></i>
                        {% else %}
                            quotation coming soon
                        {% endif %}
                    </span>
                </div>
            </div>

            <!-- AUDIO -->
            <div class="container-fullwidth story-object story-audio">
            	<div class="container">
	                {% if page.audio_url.size > 0 %}
	                    <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="{{ page.audio_url }}"></iframe>
	                {% else %}
	                	<p>interview coming soon</p>
	                {% endif %}
            	</div>
            </div>

            <!-- TAGS -->
            {% if page.tags.size > 0 %}
                <div class="container-fullwidth story-object story-taglist">
                	<div class="container-fullwidth">
	                    <div class="tag_list">
	                        <div class="container">
	                            {% for tag in page.tags %}   
	                                <a href="" class="tag">#{{ tag }}</a>
	                            {% endfor %}
	                        </div>
	                    </div>
	                </div>
                </div>
            {% else %}
                <div class="container-fullwidth story-object story-video">
                    <div class="container-fullwidth">
                        <div class="container">
                            <p></p>
                        </div>
                    </div>
                </div>
            {% endif %}
             
            <!-- VIDEO -->
            <div class="container-fullwidth story-object story-video">
                <div class="container-fullwidth">
                    {% if page.video_url.size > 0 %}
                        {% include video.html url=page.video_url width="560" height="315" %}
                    {% else %}
                    <div class="container">
                        <p>video coming soon</p>
                    </div>
                    {% endif %}
                </div>
            </div>

        </section><!-- End .story -->

        <!-- RELATED STORIES -->
        <section class="">
            <div class="container-fullwidth story-object" style="margin-top:2em; margin-bottom:-2em;">
                <h1>related stories</h1>
            </div>  
            <div class="container-fullwidth story-related">
                {% include related_stories.html %}
            </div>
        </section>
        
    </div>
</section>

<section class="container_section cta_mailinglist">
    {% include cta_mailinglist.html %}
</section>    

<section class="container_section social">
    {% include social_blobs.html %}
</section>



